<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <title>testvue</title>
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
</head>

<body>
  <!-- 介绍 -->
  <div>
    <div id="app">
      {{ message }}
    </div>
    <div id="app-2">
      <span v-bind:title="message">
        hehehehehehe
      </span>
    </div>
    <div id="app-3">
      <p v-if="seen">mdzz</p>
    </div>
    <div id="app-4">
      <ol>
        <li v-for="todo in todos">
          {{ todo.text }}
        </li>
      </ol>
    </div>
    <div id="app-5">
      <p>{{ message }}</p>
      <button v-on:click="reverseMessage">reverseMessage</button>
    </div>
    <div id="app-6">
      <p>{{message}}</p>
      <input v-model="message">
    </div>
  </div>
  <!-- 列表渲染 -->
  <div>
    <ul id="example-1">
      <li v-for="item in items">
        {{item.message}}
      </li>
    </ul>
  </div>
  <!-- 事件处理-内联处理器 -->
  <div id="example-2">
    <button v-on:click="counter += 1">Add 1</button>
    <p>The button above has been clicked {{ counter }} times.</p>
  </div>
  <div id="example-4">
    <button v-on:click="warn('Form cannot be submitted yet.', $event)">
      Submit
    </button>
  </div>

  <!-- 组件 -->
  <div id="example">
    <my-component></my-component>
  </div>
  <script>
    var app = new Vue({
      el: '#app',
      data: {
        message: '233333'
      }
    })
    var app2 = new Vue({
      el: '#app-2',
      data: {
        message: 'hehehehehehhhhhhh'
      }
    })
    var app3 = new Vue({
      el: '#app-3',
      data: {
        seen: true
      }
    })
    var app4 = new Vue({
      el: '#app-4',
      data: {
        todos: [
          { text: "学习" },
          { text: "xuexi" }
        ]
      }
    })
    var app5 = new Vue({
      el: '#app-5',
      data: {
        message: 'hello Vue.js!'
      },
      methods: {
        reverseMessage: function () {
          this.message = this.message.split(' ').reverse().join(' ')
        }
      }
    })
    var app6 = new Vue({
      el: '#app-6',
      data: {
        message: '23333333'
      }
    })

    // 列表渲染
    var example1 = new Vue({
      el: '#example-1',
      data: {
        items: [
          { message: 'item1' },
          { message: 'item2' }
        ]
      }
    })
    // 事件处理
    var example2 = new Vue({
      el: '#example-2',
      data: {
        counter: 0
      }
    })
    var example4 = new Vue({
      el: '#example-4',
      methods: {
        warn: function (message, event) {
          // console.log("2323232323")
          // 现在我们可以访问原生事件对象
          if (event) event.preventDefault()
          alert(message)
        }
      }
    })

    // 组件-注册
    Vue.component('my-component', {
      template: '<div>my custom component</div>'
    })
    // 组件-创建根实例
    new Vue({
      el: '#example'
    })

  </script>
</body>

</html>